name: ci-test

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]

jobs:

  test:
    name: Test
    runs-on: ubuntu-latest
    services:
        postgres:
            image: postgres:16-alpine
            env:
                POSTGRES_PASSWORD: postgres
                POSTGRES_USER: root
                POSTGRES_DB: hackhack
                
            options: >-
                --health-cmd pg_isready
                --health-interval 10s
                --health-timeout 5s
                --health-retries 5
            ports:
                - 5432:5432
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.20
      id: go
    
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
 
    - name: Test
      run: make test